<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Name" value="名将三国"/>
    <add key="Game.Port" value="9001"/>
    <add key="Redis.Host" value="127.0.0.1:6379"/>
    <add key="Raven.Host" value="127.0.0.1:8080"/>
    <add key="ScriptRelativePath" value="script"/>
    <add key="LuaRootPath" value="lua"/>
    <add key="ScriptMainProgram" value="Main"/>
    <add key="CSharpRootPath" value="cs"/>
  <add key="Python_Disable" value="false"></add>
  </appSettings>
  
</configuration>